.header {
  background: #1abc9c;
  padding: 0 30px;
  height: 50px;
  display: flex;
  > .logo {
    height: 100%;
    font-size: 18px;
    min-width: 132px;
    white-space: nowrap;
    font-weight: 800;
    margin-right: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  > .layout {
    display: flex;
    width: 100%;
    background: #1abc9c;
    border-color: #1abc9c;
    > .layoutItem {
      display: flex;
      color: #FFFFFF;
      align-items: center;
    }
  }
}
.body-layout {
  display: flex;
}

.site-layout-background {
  background: #1abc9c;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #FFFFFF !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  border-bottom: 2px solid #FFFFFF
}